build.bat
pkyel_rom.gbc
a.exe
DEBUG.txt
bytefile.bin
charset.txt
evolution.txt
evolution_table.md
main.exe
newfile.txt
pkred_rom.gb
pokedex.txt
pokemon_species_data_structure.md
reference.js
useless.txt
pokeyel.gb
.gitignore
dextra.exe
